<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<title></title>

	<link rel="stylesheet" type="text/css" href="">
	<style id="dynamic-css"></style>
	<script type="text/javascript" src="/js/gbAPI.js"></script>
	<script type="text/javascript" src=""></script>
	<script>
		window.onload = function(){
			
		}
		window.onbeforeunload = function(){
			
		}
	</script>
</head>
<body>
	<div id="header">
	
	</div>
	<div class="float-page">
		<article id="content">
		
		</article>
	</div>
	<div id="footer">
	
	</div>
</body>
</html>